body {
  font-family: 'Josefin_SansLight';
  font-size: 1.2rem;
}

.intro {
  background-image: url("/images/misc/che-thinker.jpg");
  background-position: 0rem 0rem;
}

.resume {
  background-image: url("/images/misc/bg.png");
  background-position: 0rem 0rem;
}

.signature {
  font-family: 'Maybe';
  color: whitesmoke;
  font-size: 2.5rem;
  letter-spacing: 7px;
  text-shadow: 1px 1px 2px gray;
}

button[type='submit'],
input[type='submit'],
.button,
.button:hover,
button[type='submit']:hover,
input[type='submit']:hover {
  background-color: #4f551f;
  color: #fff;
  text-shadow: 0 1px 0 #161807;
  border: 1px solid #161807;
  font-family: 'Josefin_SansLight'
}

.frame {
  border: 0.8rem solid #0e394a;
}

.icebreaker {
  background-image: url("/images/misc/icebreaker.jpg");
  background-position: 0rem 0rem;
}



.elevator {
  background-image: url("/images/misc/elevator.jpg");
  background-position: 70rem 0rem;
}

.whyme__listitem__title,
h4.stanford__subtitle,
h6.name-faqs__header,
span.fact {
  font-family: 'Copper_Plate';
  font-size: 2rem;
}

h2.stanford__title,
h2.academic__title,
h1.name__title,
h3.text-context,
h3.name-answers__title,
h2.elevator__title,
h3.whyme__title,
p.sports__text,
.icebreaker__title {
  font-family: 'Copper_Plate';
  font-size: 4rem;
}

p.name-faqs__text,
p.name-answers__text,
p.elevator__text,
li.academic__text {
  font-family: 'Josefin_SansLight';
  font-size: 1.8rem;
}

p.name__text,
.whyme__text,
.whyme__listitem__text,
li.stanford__text,
span.answer {
  font-family: 'Josefin_SansLight';
  font-size: 2rem;
}

span.fact {
  font-family: 'Josefin_SansLight';
  font-size: 2rem;
  font-weight: bolder;
}

.steps li:nth-child(1),
.steps li:nth-child(2),
.steps li:nth-child(3),
.steps li:nth-child(4) {
  background-color: #0e394a;
}

.steps li:nth-child(1):hover,
.steps li:nth-child(2):hover,
.steps li:nth-child(3):hover,
.steps li:nth-child(4):hover {
  background-color: #08b0e1;
}

p.sports__text {
  font-family: 'Josefin_SansLight';
  font-weight: bolder;
  font-size: 2.5rem!important;
  color: #08b0e1;
}