@font-face {
    font-family: 'Maybe';
    src: url('maybeonedaydemo-ed0n-webfont.woff2') format('woff2'),
         url('maybeonedaydemo-ed0n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Josefin_SansBold';
    src: url('josefinsans-bold-webfont.woff2') format('woff2'),
        url('josefinsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Josefin_SansLight';
    src: url('josefinsans-light-webfont.woff2') format('woff2'),
        url('josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Copper_Plate';
    src: url('copperplate-webfont.woff2') format('woff2'),
        url('copperplate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}