<a name="auto-graphics" id="auto-graphics" href="https:/www.auto-graphics.com">
  <picture class="col-sm-6">
    <source srcset="../../../../../assets/ag-logo-white.png"
      media="(max-width: 31.25rem)">
    <img alt="auto graphics logo"
      src="../../../../../assets/autographics-logo.jpg" />
  </picture>
</a>

