.device-option-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.device-option {
  margin: 0;
  padding: 0;
}

.device-option-label {
  background-color: #000;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 128px;
  margin: 10px;
  padding: 10px 10px 25px;
  width: 80px;
}

.device-option-label:focus-within {
  box-shadow: red 0 0 10px 5px;
}

.device-option-button {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  height: 93px;
  margin: 0;
  position: absolute;
  width: 60px;
}

.device-option-button:checked {
  background-color: yellow;
}

.device-option-button:disabled {
  background-color: gray;
}

.device-option-text {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 3rem;
  height: 93px;
  justify-content: center;
  position: absolute;
  width: 60px;
}