 
  @font-face {
    font-family: "ATTAleckSansRegular";
    src: url("../fonts/ATTAleckSans_W_Rg.eot");
    src: url("../fonts/ATTAleckSans_W_Rg.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ATTAleckSans_W_Rg.woff") format("woff"),
      url("../fonts/ATTAleckSans_W_Rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ATTAleckSansMedium";
    src: url("../fonts/ATTAleckSans_W_Md.eot");
    src: url("../fonts/ATTAleckSans_W_Md.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ATTAleckSans_W_Md.woff") format("woff"),
      url("../fonts/ATTAleckSans_W_Md.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  