@import "@/assets/styles/_variables";
@import "@/assets/styles/_fonts";

* {
    /* Ensure sane sizing of all elements */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: sans-serif;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../img/phone-active.svg') url('../img/phone-inactive.svg') url('../img/phone-deactive.svg')
    url('../img/tablet-active.svg') url('../img/tablet-inactive.svg') url('../img/tablet-deactive.svg')
    url('../img/wearable-active.svg') url('../img/wearable-inactive.svg') url('../img/wearable-deactive.svg');
  }

h1 {
    font-family: $font-regular;
    font-size:1.6em;
    font-weight: normal;
}

h2 {
    font-family: $font-regular;
    font-size:1.4em;
    font-weight: normal;
}