<template>
    <button type="button" @click="$emit('add-more-click')" v-if="show">Add More</button>
</template>

<script>
export default {
    props: {
        show: {
            type:Boolean,
            required:true
        }
    }
}
</script>

<style>

</style>