<template>
  <section :class="[{active: active}, bladeClass]" ref="blade">
    <a href="javascript:;" v-on:click="handleBladeClick">
      <span>{{label}}</span>
    </a>
    <div class="content">
      <slot></slot>
    </div>
  </section>
</template>
<script>
  import Hammer from "hammerjs";

  export default {
    props: {
      index: {
        type: Number,
        required: true
      },
      label: {
        type: String,
        required: true
      }
    },
    computed: {
      active() {
        return this.$store.getters.activeBladeIndex === this.index
      },
      activeBladeIndex() {
        return this.$store.getters.activeBladeIndex
      },
      bladeClass() {
        return `blade-${this.index}`
      }
    },
    methods: {
      handleBladeClick() {
        this.$store.dispatch('navigate', this.index)
      },
      handleBladeSwipe(type) {
        if (type === "swipeleft" && this.activeBladeIndex <= 1) {
          this.$store.dispatch('navigate', this.activeBladeIndex + 1)
        } else if (type === "swiperight" && this.activeBladeIndex > 0) {
          this.$store.dispatch('navigate', this.activeBladeIndex - 1)
        }
      }
    },
    mounted() {
      const hammer = new Hammer(this.$refs.blade);
      delete Hammer.defaults.cssProps.userSelect;
      hammer.on("swipeleft swiperight", ev => {
        this.handleBladeSwipe(ev.type)
      });
    }
  }
</script>
<style lang="scss">
  section {
    flex: 0 1 auto;
    transition: all 50ms ease;
    overflow: hidden;
    height: 100%;
    width: 76px;


    a {
      text-transform: uppercase;
      display: block;
      height: 100vh;
      width: 100%;
      text-decoration: none;
      color: #fff;

      span {
        transform: rotate(-90deg);
        display: inline-block;
        white-space: nowrap;
        top: 54vh;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        font-size: 1.4em;
      }
    }

    .content {
      display:none;
      transition: opacity 100ms;
      min-height: 100vh;
      opacity: 0;
      padding: 4em;
    }

    &.active {
      overflow: auto;
      flex-grow: 1;

      a {
        display:none;
      }

      .content {
        display: block;
        opacity: 1;
        background: linear-gradient(132deg, #F5F5F5, #EAEAEA);
      }
    }

    &.active.blade-2 .content {
      padding:4em 0;
    }
  }

</style>