<template>
  <div id="blades">
    <Blade :index="0" :label="phoneBladeLabel">
      <Phones></Phones>
    </Blade>
    <Blade :index="1" :label="tabletWearableBladeLabel">
        <TabletsAndWearables />
    </Blade>
    <Blade :index="2" label="Plans">
        <Comparisons />
    </Blade>
  </div>
</template>

<script>
import Blade from '@/components/Blade.vue'
import Phones from '@/components/Phones'
import TabletsAndWearables from '@/components/TabletsAndWearables'
import Comparisons from '@/components/Comparisons'

export default {
    name: 'blades',
    components: {
        Blade,
        Phones,
        TabletsAndWearables,
        Comparisons
    },
    computed: {
      phoneBladeLabel() {
          const count = this.$store.getters.phoneCount
          return count > 0
              ? `${count} Phone${count === 1 ? '' : 's'}` 
              : 'Phones';
      },
      tabletWearableBladeLabel() {
        let fragments = []
        
        const tabletCount = this.$store.getters.tabletCount
        
        if(tabletCount > 0 || wearableCount > 0){
          fragments.push(`${tabletCount} Tablet${tabletCount === 1 ? '' : 's'}`)
        } else {
          fragments.push('Tablets')
        }

        fragments.push('&')

        const wearableCount = this.$store.getters.wearableCount
        
        if(wearableCount > 0 || tabletCount > 0){
          fragments.push(`${wearableCount} Wearable${wearableCount === 1 ? '' : 's'}`)
        } else {
          fragments.push('Wearables')
        }

        return fragments.join(' ')
      }
  }
}
</script>

<style lang="scss">

#blades {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #ddd;

  .blade-0 {
    background-image: linear-gradient(176deg, #2bc5ff 0%, #009fdb 95%);
  }

  .blade-1 {
    background-image: linear-gradient(177deg, #ff585d 31%, #cf3d41 104%);
  }
  
  .blade-2 {
    background-image: linear-gradient(to bottom, #0090dd, #0057b8);
  }
}
</style>