<template>
  <div id="comparisons">
    <div class="header">
      <Header />
    </div>
    <div class="comparison">
      <table v-for="(plan, index) in comparisons" :key="plan.id" :class="{'hide-labels':hideLabels(index), icons: showIcons}">
        <thead>
          <tr>
            <th></th>
            <td>{{plan.name}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Price Per Line</th>
            <td>{{ plan.calculateAverageMonthlyCostPerLine(deviceTypes) }}</td>
          </tr>
          <tr>
            <th>Total Monthly Price for {{deviceTypes.length}} line{{deviceTypes.length === 1 ? "" : "s" }}</th>
            <td>{{ plan.calculateTotalMonthlyCost(deviceTypes) }}</td>
          </tr>
          <tr>
            <th>Data</th>
            <td>
              <DataFeature :plan="plan" />
            </td>
          </tr>
          <tr>
            <th>Nationwide<span>Talk & Text</span></th>
            <td>Unlimited</td>
          </tr>
          <tr>
            <th>Canada & Mexico<span>Talk & Text</span></th>
            <td>Unlimited</td>
          </tr>
          <tr>
            <th>Streaming</th>
            <td>
              <StreamingFeature :plan="plan" />
            </td>
          </tr>
          <tr>
            <th>Hotspot</th>
            <td>
              <HotspotFeature :plan="plan" />
            </td>
          </tr>
          <tr>
            <th>Premium Entertainment</th>
            <td>
              <PremiumEntertainmentFeature :plan="plan" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header"
import DataFeature from "@/components/Features/DataFeature"
import HotspotFeature from "@/components/Features/HotspotFeature"
import StreamingFeature from "@/components/Features/StreamingFeature"
import PremiumEntertainmentFeature from "@/components/Features/PremiumEntertainmentFeature"

export default {
    name: 'comparison',
    components: {
      Header,
      DataFeature,
      HotspotFeature,
      StreamingFeature,
      PremiumEntertainmentFeature
    },
    computed: {
      comparisons() {
        return this.$store.getters.comparisons
      },
      deviceTypes() {
        return this.$store.getters.deviceTypes
      },
      showIcons() {
        return this.comparisons.length < 3
      }
    },
    methods: {
      hideLabels(index){
        return index !== 0
      }
    }
}
</script>

<style lang="scss">
#comparisons {
  .header {
    padding-left:4em;
  }

  .comparison {
    display:flex;

    table {
      border-spacing: 0;
      border-collapse:collapse;
    }

    table th {
      font-weight:normal;
      font-size:0.7em;
    }

    table td {
      height:100px;
      font-size:0.6em;
    }
    
    table tbody tr:nth-child(odd){
      th, td {
        background-color:#eaeaea;
      }
    }

    table.hide-labels th { 
      display:none;
    }
  }
}
</style>