<template>
  <div class="devices">
      <Device v-for="number in count" :type="type" :value="number" :key="number" />
  </div>
</template>

<script>
import Device from '@/components/Device'

export default {
    components: {
        Device
    },
    props: {
        count: {
            type: Number,
            required: true
        },
        type: {
            type: String,
            required: true,
            validator: (val) => ['Phone', 'Tablet', 'Wearable'].includes(val)
        }
    }
}
</script>

<style>

</style>