<template>
      <h1>{{deviceCount}} out of {{deviceMaxCount}} devices selected</h1>
</template>

<script>
export default {
    computed: {
        deviceCount() {
            return this.$store.getters.deviceCount
        },
        deviceMaxCount() {
            return this.$store.getters.deviceMaxCount
        }
    }
}
</script>

<style>

</style>