<template>
  <div
    class="device animated"
    :class="[deviceState, typeLower]"
    @click="handleClick">
    <span>{{value}}</span>
  </div>
</template>

<script>
export default {
  name: 'device',
  props: {
    value: {
      type: Number,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    current() {
      return this.value === this.$store.getters[`${this.typeLower}Count`]
    },
    active() {
      return this.value <= this.$store.getters[`${this.typeLower}Count`]
    },
    disabled() {
      return this.value > this.$store.getters[`${this.typeLower}RemainingCount`]
    },
    deviceState() {
      if(this.disabled) return "disabled"
      if(this.current) return "active current"
      
      return this.active ? "active" : "inactive"
    },
    typeLower() {
      return this.type.toLowerCase()
    }
  },
  methods: {
    handleClick() {
      const actionName = `set${this.type}Count`
      this.$store.dispatch(actionName, this.value)
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/_variables";

.device {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  cursor: pointer;
  background-size: contain;
  display:flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    span {
        cursor:not-allowed;
        color:#9a9a9a !important;
    }
  }

  &.phone {
    height: 190px;
    width: 127px;
    background: url('../assets/img/phone-inactive.svg') no-repeat center;

    &.active {
      background-image: url('../assets/img/phone-active.svg');
    }

    &.disabled {
      background-image: url('../assets/img/phone-deactive.svg');
    }

    &.current {
      animation: pulse 500ms;

      span {
        animation: pulse 500ms normal 100ms;
        text-shadow: 0px 1px 5px #08222a;
        color: #fff;
        font-size: 4.2em;
      }
    }

    &.inactive {
      span {
        color: #003570;
      }
    }

    span {
      position:relative;
      top:-0.1em;
      color: #0297d0;
      font-family: $font-medium;
      font-size: 3em;
    }
  }

  &.tablet {
    height: 188px;
    width: 160px;
    background: url('../assets/img/tablet-inactive.svg') no-repeat center;

    &.active {
      background-image: url('../assets/img/tablet-active.svg');
    }
    
    &.disabled {
      background-image: url('../assets/img/tablet-deactive.svg');
    }

    &.current {
      animation: pulse 500ms;

      span {
        animation: pulse 500ms normal 100ms;
        top:-0.45em;
        text-shadow: 0px 1px 5px #08222a;
        color: #fff;
        font-size: 4.2em;
      }
    }

    &.inactive {
      span {
        color: #350e0f;
      }
    }

    span {
      position:relative;
      top:-0.6em;
      color: #98262a;
      font-family: $font-medium;
      font-size: 3em;
    }
  }

  &.wearable {
    height: 213px;
    width: 160px;
    background: url('../assets/img/wearable-inactive.svg') no-repeat center;

    &.active {
      background-image: url('../assets/img/wearable-active.svg');
    }
    
    &.disabled {
      background-image: url('../assets/img/wearable-deactive.svg');
    }

    &.current {
      animation: pulse 500ms;

      span {
        top:-0.4em;
        left:-0.1em;
        animation: pulse 500ms normal 100ms;
        text-shadow: 0px 1px 5px #08222a;
        color: #fff;
        font-size: 4.2em;
      }
    }

    &.inactive {
      span {
        color: #350e0f;
      }
    }

    span {
      position:relative;
      top:-0.46em;
      left:-0.14em;
      color: #98262a;
      font-family: $font-medium;
      font-size: 3em;
    }
  }
}

</style>