<template>
  <header>
      <img src="../assets/img/att-logo-white.png" alt="Logo" />
      <h1>Quick Quote</h1>
  </header>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    header {
        margin-bottom:4em;

        img {
            float:left;
        }
        h1 {
            margin:0;
            padding:0.4em 0 0 4em;
            font-weight: normal;
            line-height:1.4em;
            vertical-align: middle;
            font-size: 1em;
        }
    }
</style>