<template>
    <button type="button" @click="handleNextClick">Next</button>
</template>

<script>
export default {  
  methods: {
    handleNextClick() {
      this.$store.dispatch('navigate', this.$store.getters.activeBladeIndex + 1)
    }
  }
}
</script>

<style>

</style>