<template>
  <div>
    <Header />
    <DeviceCountStatus />
    <h2>Add Phones</h2>
    <button type="button" @click="handleClearPhoneClick">Clear</button>
    <Devices :count="phoneDisplayCount" type="Phone" />
    <AddMoreButton @add-more-click="handleAddMoreClick" :show="showAddMore" />
    <NextButton />
  </div>
</template>

<script>
import Devices from "@/components/Devices";
import DeviceCountStatus from "@/components/DeviceCountStatus"
import NextButton from "@/components/NextButton"
import AddMoreButton from "@/components/AddMoreButton"
import Header from "@/components/Header"

export default {
  components: {
    Devices,
    DeviceCountStatus,
    NextButton,
    AddMoreButton,
    Header
  },
  computed: {
    deviceMaxCount() {
      return this.$store.getters.deviceMaxCount
    },
    showAddMore() {
      return this.phoneDisplayCount < this.deviceMaxCount
    }
  },
  data() {
    return {
      phoneDisplayCount: 6
    }
  },
  methods: {
    handleClearPhoneClick() {
      this.$store.dispatch('setPhoneCount', 0)
    },
    handleAddMoreClick() {
      this.phoneDisplayCount = this.deviceMaxCount
    }
  }
};
</script>
<style>
.phones {
  margin:40px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
</style>