<template>
  <div>
    <Header />
    <DeviceCountStatus />
    
    <h2>Add Tablets</h2>
    <button type="button" @click="handleTabletClearClick">Clear</button>
    <Devices :count="tabletDisplayCount" type="Tablet" />
    <AddMoreButton @add-more-click="handleTabletAddMoreClick" :show="showTabletAddMore" />
    
    <h2>Add Wearables</h2>
    <button type="button" @click="handleWearableClearClick">Clear</button>
    <Devices :count="wearableDisplayCount" type="Wearable" />
    <AddMoreButton @add-more-click="handleWearableAddMoreClick" :show="showWearableAddMore" />
    
    <NextButton />
  </div>
</template>

<script>
import Devices from "@/components/Devices";
import DeviceCountStatus from "@/components/DeviceCountStatus"
import NextButton from "@/components/NextButton"
import AddMoreButton from "@/components/AddMoreButton"
import Header from "@/components/Header"

export default {
  components: {
    Devices,
    DeviceCountStatus,
    NextButton,
    AddMoreButton,
    Header
  },
  computed: {
    deviceMaxCount() {
      return this.$store.getters.deviceMaxCount
    },
    showTabletAddMore() {
      return this.tabletDisplayCount < this.deviceMaxCount
    },
    showWearableAddMore() {
      return this.wearableDisplayCount < this.deviceMaxCount
    }
  },
  data() {
    return {
      tabletDisplayCount: 3,
      wearableDisplayCount: 3
    }
  },
  methods: {
    handleTabletClearClick() {
      this.$store.dispatch('setTabletCount', 0)
    },
    handleWearableClearClick() {
      this.$store.dispatch('setWearableCount', 0)
    },
    handleTabletAddMoreClick() {
      this.tabletDisplayCount = this.deviceMaxCount
    },
    handleWearableAddMoreClick() {
      this.wearableDisplayCount = this.deviceMaxCount
    }
  }
}
</script>

<style>
  .devices {
    margin:40px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
</style>