
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed',  sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;
  border-radius:
}