<template>
  <div id="app">
    <Blades />
  </div>
</template>

<script>
import Blades from '@/components/Blades.vue'

export default {
  name: 'app',
  components: {
    Blades
  }
}
</script>

<style>

</style>
