header.flex {
	align-items: center;
	background-color: #000099;
	border-radius: 0.188rem;
	color: white;
	display: flex;
	justify-content: center;
	padding: 0.313rem;
}

header.flex img {
	max-height: 4.688rem;
}

header.flex h1 {
	padding: 0 2.25rem;
}
