footer {
	align-items: center;
	background-color: #000099;
	border-radius: 0.188rem;
	color: white;
	display: flex;
	justify-content: center;
	padding: 0.313rem;
	height: 4.688rem;
}

.copyright {
	text-align: center;
}
