@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font-family: "'Open Sans', Helvetica, Arial, Lucida, sans-serif";
}

.gutter-left {
	margin-left: 9px;
}

.col-span-2 {
	grid-column: span 2;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
