<template>
    <span>
        {{data}} {{plan.dataSpeed}}
        <br />
        <small>{{footnote}}</small>
      </span>
</template>

<script>
export default {
    props: ["plan"],
    computed: {
        data() {
            return this.formatData(this.plan.data)
        },
        footnote() {
            return this.formatFootnote(this.plan.dataManagement)
        }
    },
    methods: {
        formatData(megabytes) {
            let formatted = "No Data";
            if (megabytes < 0) {
                formatted = "Unlimited";
            }
            else if (megabytes >= 1000) {
                formatted = `${megabytes / 1000}GB`;
            }
            else if (megabytes > 0) {
                formatted = `${megabytes}MB`;
            }
            return formatted;
        },
        formatFootnote(megabytes) {
            let footnote = "Speeds may be slower in congested areas";
            if (megabytes < 0) {
                // TODO: This case does not exists today, but we should confirm the text if it ever comes up
                footnote = "No data management"
            }
            if (megabytes >= 1000) {
                footnote = `After ${megabytes / 1000}GB, speeds may be slower in congested areas`;
            }
            else if (megabytes > 0) {
                footnote = `After ${megabytes}MB, speeds may be slower in congested areas`;
            }
            return footnote;
        }
    }
}
</script>

<style>

</style>