<template>
    <span>
        {{hotspot}}
    </span>
</template>

<script>
export default {
    props: ["plan"],
    computed: {
        hotspot() {
            return this.formatHotspot(this.plan.hotspot)
        }
    },
    methods: {
        formatHotspot(megabytes){
            let formatted = "No Hotspot";
            if (megabytes < 0) {
                formatted = "Included in Plan Data";
            }
            else if (megabytes >= 1000) {
                formatted = `${megabytes / 1000}GB`;
            }
            else if (megabytes > 0) {
                formatted = `${megabytes}MB`;
            }
            return formatted;
        }
    }
}
</script>