<template>
    <span>
        {{plan.videoQuality}}p {{formatDefinition}}
        <br />
        (max of 1.5Mbps)
    </span>
</template>

<script>
export default {
    props: ["plan"],
    computed: {
        formatDefinition() {
            return this.plan.videoQuality >= 720 ? "HD" : "SD";
        }
    }
}
</script>